body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */

  width: 85%;
  margin: 0 auto;
  background-color: hotpink;
}
header {
  align-self: center;
}
.input {
  align-self: center;
}
#recipe-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}
.recipe-card {
  background-color: white;
}
.recipe-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-calories {
  padding: 10px;
}
